*{
  margin: 0;
  padding: 0;
}

.container{
    margin: 10px auto;
    color: white;
    width: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.register{
  background-color: #33393d;
  height: 500px;
  width: 300px;
  padding: 20px;
}

.login{
  background-color: #33393d;
  height: 500px;
  width: 300px;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.createContainer{
  height: 700px;
  /* width: 900px; */
  margin: 0 auto;
  padding: 30px;
}

.reportSighting{
  background-color: #33393d;
  height: 550px;
  width: 500px;
  padding: 50px;
  margin: 0 auto;
}

.rightSideHeader{
  display: flex;
  flex-direction: column;

}